
 body{
background-color: black;
color: white;

        }
        li{
            font-size: 23px;
            color: brown;
        }
        #html{
            color: rgb(226, 105, 18);
        }
        #css{
            color: rgb(10, 88, 145);
        }
        #javascript{
            color: rgb(235, 202, 19);
        }
       button{
            background-color: blue;
            padding: 10px 20px; /* ESPAÇO INTERNO */
            margin: 10px; /* ESPAÇO EXTERNO */
            border-radius: 10px; /* BORDA */
        }

        span{
            font-size: 20px;
            color: aliceblue
        }
        